<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>校园help</title>
    <link rel="stylesheet" type="text/css" href="../css/aui.css"/>
    <link rel="stylesheet" type="text/css" href="../css/alifont/iconfont.css"/>
    <style>
        .hide-ov{
            overflow:hidden;
        }
    </style>
</head>
<body>

<div id="app" class="aui-content">
    <ul class="aui-list aui-media-list">

        <li class="aui-list-item" style="border-bottom: 1px solid #dddddd;"
            v-for="(item,id_index) in help_all_list">
            <div class="aui-card-list-header aui-card-list-user "
                 style="padding: 10px 18px 5px 3px; border-bottom: none">
                <div class="aui-card-list-user-avatar" v-on:click="open_content( item.for_text[0].id, item.for_text[0].u_id )" >
                    <img :src="qiniu + item.for_text[0].u_img + qiniu_small" class="aui-img-round"
                         style="width: 40px; height: 40px; border-radius: 40px"/>
                </div>
                <div class="aui-card-list-user-name">
                    <div v-on:click="open_content( item.for_text[0].id, item.for_text[0].u_id )" >{{item.for_text[0].u_nick}}</div>
                    <div v-on:click="side_choice( item.for_text[0].id, item.for_text[0].u_id, id_index )">
                        <i style="color: #9e9e9e" class="aui-iconfont aui-icon-more"></i>
                    </div>
                </div>
                <div class="aui-card-list-user-info">
                    {{item.for_text[0].publish_date|filter_d}} &nbsp;{{item.for_text[0].publish_time|filter_t}}
                </div>
            </div>

            <div class="aui-media-list-item-inner">
                <div class="aui-list-item-inner">
<!--需要顶头写，不然white-space:pre-wrap;会把前面的空格页当作空格显示出来-->
<div class="aui-list-item-text" style="color:#333;font-size: 16px;white-space:pre-wrap;">{{item.for_text[0].content}}</div>
                    <div v-if=" item.for_img.length " class="aui-list-item-text" >
                        <div class="aui-row-padded" style="max-width:100%;">
                            <div class="aui-col-xs-4" v-for="(img, index) in item.for_img">
                                <img :src="qiniu + img.qiniu_img + qiniu_big" v-on:click="open_img_big( item.for_img, index )"/>
                            </div>
                        </div>
                    </div>

                    <!--这是苹果 不显示价钱 线上线下-->
                    <div class="aui-card-list-footer" v-on:click="open_content( item.for_text[0].id, item.for_text[0].u_id )">
                        <!--<div><i class=" iconfont icon-renminbi" ></i>&nbsp;{{item.for_text[0].price}}</div>-->

                        <!--<div v-if="item.for_text[0].is_online === 0">-->
                            <!--<i class=" iconfont icon-yundong" ></i>&nbsp;&nbsp;线下-->
                        <!--</div>-->
                        <!--<div v-else><i class=" iconfont icon-bofangzhong"></i>&nbsp;&nbsp;线上</div>-->
                        <div><i ></i></div>
                        <div><i ></i></div>
                        <div v-if="item.for_text[0].status === 0"
                             class="aui-btn " style="background-color: #457cfa;color: #ffffff">等待帮助</div>
                        <div v-else class="aui-btn aui-btn-default">已帮助</div>
                    </div>

                </div>
            </div>

        </li>
    </ul>
</div>


</body>

<script type="text/javascript" src="../script/common.js"></script>
<script type="text/javascript" src="../script/api.js"></script>
<script type="text/javascript" src="../script/vue.js"></script>

<script type="text/javascript">

    //测试打开个人主页
    function open_his_home() {
        api.openWin({
            name: 'my_his_home_win',
            url: './my_his_home_win.html',
            pageParam: {
                user_id: 1
            }
        });
    }


    var photoBrowser;
    var dialogBox;

    // 启动执行事件
    apiready = function () {

        //接收参数
        vm.school_name = $api.getStorage('school_name');
        vm.school_id = $api.getStorage('school_id');

        //接收 从学校选择 传过来的
        api.addEventListener({
            name: 'send_school_id'
        }, function (ret, err) {
            vm.school_id = ret.value.school_id;
            vm.school_name = ret.value.school_name;
            api.refreshHeaderLoading(); // 自动下拉刷新
        });


        //监听用户信息 获取学校id 登录发送
        api.addEventListener({
            name: 'send_user_id',
        }, function (ret, err) {
            vm.school_name = ret.value.school_name;
            vm.school_id = ret.value.school_id;
            api.refreshHeaderLoading(); // 自动下拉刷新
        });

        //监听用户信息 获取学校id  注册发送
        api.addEventListener({
            name: 'send_user_msg',
        }, function (ret, err) {
            vm.school_name = ret.value.school_name;
            vm.school_id = ret.value.school_id;
            api.refreshHeaderLoading(); // 自动下拉刷新
        });

        vm.init(true);
        initRefresh();  // 下拉刷新

        photoBrowser = api.require('photoBrowser');  //照片查看器
        dialogBox = api.require('dialogBox');    //弹出 actionMenu 样式的对话框

        //下拉监听事件
        api.addEventListener({
            name : 'scrolltobottom',
            extra : {
                threshold : 0 //设置距离底部多少距离时触发，默认值为0，数字类型
            }
        }, function(ret, err) {
            //分页加10，和后台同步
            vm.skip += 10;
            vm.init(false);
        });

    };


    // vue实例
    var vm = new Vue({
        el: '#app',
        data: {
            school_id: 4,
            school_name: '',

            media: media_url,
            qiniu: qiniu_url,
            qiniu_small: qiniu_small,
            qiniu_big: qiniu_big,

            help_all_list: [],  //所有数据

            one_img_list: [],  //单个纯图片url列表
            one_img: '',        //单个纯图片url
            one_img_index: '',    //图片索引

            is_more: true,    //加载更多,默认第一次
            skip: 0,
        },
        methods: {

            //初始化 ajax数据请求
            init: function (more_) {
                api.ajax({
                    url: help_list + '?school_id=' + vm.school_id + '&skip=' + vm.skip +'&user_id=' + $api.getStorage('uid'),
                    method: 'get',
                    cache: 'true',
                    timeout: 30,
                    dataType: 'json',
                    returnAll: false,
                }, function (ret, err) {
                    if (ret) {
                        api.refreshHeaderLoadDone(); //方法恢复组件到默认状态
                        if ( more_ ){
                            vm.help_all_list = ret.all_list;
                        } else {
                            if (ret.all_list.length > 0){
                                //concat() 方法用于连接两个或多个数组。
                                vm.help_all_list = vm.help_all_list.concat(ret.all_list);
                            }else {
                                api.toast({
                                    msg: '没有更多了',
                                    duration: 1000,
                                    location: 'bottom'
                                });
                            }
                        }
                    } else {
                        my_toast();
                    }
                });
            },

            //查看图片
            open_img_big: function (list_, index_) {
                 api.openWin({
                    name: 'open_img',
                    url: './open_img.html',
                    pageParam: {
                        img_list: list_,
                        img_index:index_,
                    }
                });
            },

            // 三点选择器 举报 分享
            side_choice: function ( h_id_,his_id_,index_ ) {
                dialogBox.actionMenu({
                    rect: {
                        h: 170
                    },
                    texts: {
                        cancel: '取消'
                    },
                    items: [
                        {
                            text: '举报',
                            icon: 'widget://image/report.png'
                        },{
                            text: '屏蔽此条动态',
                            icon: 'widget://image/pingbi1.png'
                        },{
                            text: '屏蔽他的动态',
                            icon: 'widget://image/pingbi2.png'
                        },
                    ],
                    styles: {  //对话框样式设置
                        bg: '#FFF',
                        column: 4,
                        itemText: {
                            color: '#000',
                            size: 12,
                            marginT: 8
                        },
                        itemIcon: {
                            size: 40
                        },
                        cancel: {
                            color: '#000',
                            h: 44,
                            size: 14
                        }
                    }
                }, function (ret) {
                    // 1.help举报
                    if (ret.index === 0) {
                        //关闭 弹出框
                        dialogBox.close({
                            dialogName: 'actionMenu'
                        });
                        //举报原因
                        api.actionSheet({
                            title: '请选择举报原因',
                            cancelTitle: '取消按钮',
                            buttons: ['色情低俗', '政治敏感', '广告', '令人恶心', '违纪违法', '其他']
                        }, function(ret, err) {
                             //按钮点击序号，从1开始
                            var index = ret.buttonIndex;
                            if (index == 1 || index == 2 || index == 3 || index == 4 || index == 5 || index == 6){
                                api.ajax({
                                    url: help_report + '?help_id=' + h_id_ +'&u_id=' + $api.getStorage('uid'),
                                    method: 'get',
                                    timeout: 30,
                                    dataType: 'json',
                                    returnAll: false,
                                }, function (ret, err) {
                                    if (ret) {
                                        // 有结果就返回提示
                                        api.toast({
                                            msg: '举报成功,平台将会在24小时之内做出处理！',
                                            duration: 2000,
                                            location: 'bottom'
                                        });
                                    }
                                });
                            }
                        });

                    }

                    // 2.屏蔽help
                    if (ret.index === 1) {
                        //举报确定键
                        api.confirm({
                            title: '屏蔽',
                            msg: '您确定要屏蔽此动态吗？',
                            buttons: ['确定', '取消']
                        }, function (ret, err) {
                            if (ret.buttonIndex === 1) {  //确认
                                api.ajax({
                                    url: help_refuse + '?help_id=' + h_id_ +'&u_id=' + $api.getStorage('uid'),
                                    method: 'get',
                                    timeout: 30,
                                    dataType: 'json',
                                    returnAll: false,
                                }, function (ret, err) {
                                    if (ret) {
                                        // 有结果就返回提示
                                        api.toast({
                                            msg: '已屏蔽此动态！',
                                            duration: 2000,
                                            location: 'bottom'
                                        });
                                        // my_alert('下标取id：=='+vm.find_list[index_].id+'传参id:=='+m_id_);
                                        if (vm.help_all_list[index_].id == h_id_){
                                            vm.help_all_list.splice(index_,1)
                                        }
                                    }
                                });
                                //关闭 弹出框
                                dialogBox.close({
                                    dialogName: 'actionMenu'
                                });
                            } else {
                                dialogBox.close({
                                    dialogName: 'actionMenu'
                                });
                            }
                        });
                    }

                    // 3.屏蔽用户
                    if (ret.index === 2) {
                        //举报确定键
                        api.confirm({
                            title: '屏蔽',
                            msg: '您确定要屏蔽此用户的所有动态(说说和help)吗？',
                            buttons: ['确定', '取消']
                        }, function (ret, err) {
                            if (ret.buttonIndex === 1) {  //确认
                                api.ajax({
                                    url: refuse_user + '?his_id=' + his_id_ +'&my_id=' + $api.getStorage('uid'),
                                    method: 'get',
                                    timeout: 30,
                                    dataType: 'json',
                                    returnAll: false,
                                }, function (ret, err) {
                                    if (ret) {
                                        // 有结果就返回提示
                                        api.toast({
                                            msg: '已屏蔽此用户所有动态！',
                                            duration: 2000,
                                            location: 'bottom'
                                        });
                                        // 强制刷新
                                        api.refreshHeaderLoading(); // 自动下拉刷新
                                    }
                                });
                                //关闭 弹出框
                                dialogBox.close({
                                    dialogName: 'actionMenu'
                                });
                            } else {
                                dialogBox.close({
                                    dialogName: 'actionMenu'
                                });
                            }
                        });
                    }



                    //取消
                    if (ret.eventType === 'cancel') {
                        dialogBox.close({
                            dialogName: 'actionMenu'
                        });
                    }
                });
            },

            //打开详情页
            open_content:function (hid_, uid_) {
                api.openWin({
                    name: 'help_content_win',
                    url: './help_content_win.html',
                    pageParam: {
                        h_id: hid_,
                        u_id: uid_,
                    }
                });
            },
        },

        //时间过滤器
        filters: {
            filter_t: function (t_) {
                if (t_ && t_.length > 5) {
                    value = t_.substring(0, 5);
                }
                return value;
            },

            filter_d: function (d_) {
                value = d_.substring(5, 10);
                return value;
            }
        },
    });


    // 实现下拉刷新功能
    function initRefresh() {
        api.setRefreshHeaderInfo({
            loadingImg: 'widget://image/fresh.png',
            bgColor: '#ccc',
            textColor: '#fff',
            textDown: '下拉刷新...',
            textUp: '嘤嘤嘤 放开我...'
        }, function (ret, err) {
            vm.skip = 0;
            vm.init(true);//初始化 ajax数据请求
            api.toast({
                msg: '已刷新',
                duration: 1000,
                location: 'bottom'
            });
        });
    }

    //评论后跨页更新
    function come_on() {
        vm.skip = 0;
        vm.init(true);//初始化 ajax数据请求
    }


</script>

</html>
